name: "pre-release"

on:
  workflow_dispatch:
    tags:
      - "v*"

jobs:
  pre-release:
    name: "Pre Release"
    runs-on: "ubuntu-latest"

    steps:
      # ...
      - name: "Update Pre Release"
        run: |
          echo "done!"

      - name: Parse tag
        id: vars
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}

      - uses: "MC-Machinations/auto-release-changelog@v1.1.3"
        with:
          token: "${{ secrets.PRE_RELEASE_TOKEN }}"
          draft: "false"
          pre-release: "true"
          title: "Development Build"
          # files: |
          skip-prereleases: "true"
