name: "pre-release"

on:
  workflow_dispatch:
    tags:
      - '*'

jobs:
  pre-release:
    name: "Pre Release"
    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Build Changelog
        id: github_release
        uses: mikepenz/release-changelog-builder-action@v3
        commitMode: true
        env:
          GITHUB_TOKEN: ${{ secrets.PRE_RELEASE_TOKEN }}

      - name: Echo
        run: |
          echo ${{steps.github_release.outputs.changelog}}

      # - name: Create Release
        # uses: softprops/action-gh-release@v0.1.14
        # with:
          # body: ${{steps.github_release.outputs.changelog}}
